:root {
  --fluid-width: 80vw;
  --max-width: 1120px;
  --nav-height: 60px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: 6px 10px;
  background-color: rgb(78, 160, 228);
  border: transparent;
  border-radius: 2px;
  color: whitesmoke;
}

.page-center {
  /* width: calc(100vw-300px); */
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 0 auto;
  height: calc(100vh - 57px);
  background-color: rgba(236, 231, 242, 0.8);
}
